@{
    ViewData["Title"] = "Excell Reader";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-bordered">

    <tbody>
        @foreach (System.Data.DataRow item in ViewData.Model as System.Data.DataRowCollection)
        {
        <tr>
            <td>@item[0]</td>
            <td>@item[1]</td>
            <td>@item[2]</td>
            <td>@item[3]</td>
            <td>@item[4]</td>
            <td>@item[5]</td>
        </tr>
        }
    </tbody>
</table>
